<div id="viewport">

    <div id="startup-logo">
        <img src="~/Content/images/molbert/contactpage/Logo_001.png" alt="" />
    </div>

    <div id="bird-with-key">
        <img src="~/Content/images/righttopbird/Bird_001_001.png" alt="" class="bird-element" />
        <div class="string-container">
            <img src="~/Content/images/righttopbird/String_001_001.png" alt="" class="string-element" />
            <img src="~/Content/images/righttopbird/Key_001_001.png" alt="" class="key-element" />
        </div>
    </div>



    <div class="viewport-middleholder">

        <div id="window-wrap">
            <div class="window-container">
                <img src="~/Content/images/window/Window_005_withShadow.png" alt="" class="background-image" width="300" />
               
            </div>
        </div>

        <div id="shelve-wrap">
            <div class="shelve-container">
                <img src="~/Content/images/shelve/backgrounds/Shelve_Normal_002.png" alt="" class="shelve-normal-state" width="206" />
                <img src="~/Content/images/shelve/backgrounds/Shelve_Hover_002.png" alt="" class="shelve-hover-state" width="208" />
                <div class="phone-ring-wrap">
                    <div class="phone-ring-container">
                        <img src="~/Content/images/shelve/phone/Phone_Body_001.png" alt="" class="phone-body" />
                        <img src="~/Content/images/shelve/phone/Phone_Ringer_001.png" alt="" class="phone-ringer" />
                    </div>
                </div>
                <div class="mail-swing-wrap">
                    <div class="mail-swing-container">
                        <img src="~/Content/images/shelve/mail/Mail_Body_001.png" alt="" class="mail-body" />
                        <img src="~/Content/images/shelve/mail/Mail_Nail_001.png" alt="" class="mail-nail" />
                    </div>
                </div>
            </div>
        </div>

        <div id="lamp">

            <!-- #region Lamp Image -->

            <img src="~/Content/images/lamp/Lamp_001.png" alt="" />

            <!-- #endregion -->

        </div>

        <div id="doors-wrap">

            <div class="doors-container">

                <!-- #region Door Background -->

                <img src="~/Content/images/doors/background/Doors_003.png" alt="Doors" class="doors-image" width="324" height="724" />

                <!-- #endregion -->
                <!-- #region Menu Hitboxes -->
                <!--
                    Section 1:  Dekorācijas
                    Section 2:  Grims
                    Section 3:  Pasākumu Organizēšana
                    Section 4:  Karnevālu tērpu un aksesuāru noma
                    Section 5:  Idejas
                    Section 6:  Par Mani
                -->

                <div class="menu-hitbox section-1" data-menutextindex="1"></div>
                <div class="menu-hitbox section-2" data-menutextindex="2"></div>
                <div class="menu-hitbox section-3" data-menutextindex="3"></div>
                <div class="menu-hitbox section-4" data-menutextindex="4"></div>
                <div class="menu-hitbox section-5" data-menutextindex="5"></div>
                <div class="menu-hitbox section-6" data-menutextindex="6"></div>

                <!-- #endregion -->
                <!-- #region Bubble Bird -->

                <div class="bubble-bird-wrap">
                    <div class="bubble-bird-container">
                        <img src="~/Content/images/doors/bubblebird/BubbleBird_BodyNoLegs.png" alt="" class="bubble-bird-body" width="150" />
                        <img src="~/Content/images/doors/bubblebird/BubbleBird_TBeak.png" alt="" class="bubble-bird-top-beak" width="15" />
                        <img src="~/Content/images/doors/bubblebird/BubbleBird_BBeak.png" alt="" class="bubble-bird-bottom-beak" width="15" />
                        <img src="~/Content/images/doors/bubblebird/BubbleBird_Legs.png" alt="" class="bubble-bird-legs" width="40" />
                    </div>
                </div>

                <!-- #endregion -->
                <!-- #region Bubble Text -->

                <div class="bubble-text-wrap" data-html2canvas-ignore="true">
                    <div class="bubble-text-container">
                        <img data-html2canvas-ignore="true" width="235" height="123" src="~/Content/images/doors/bubbles/Bubble_Empty_002.png" alt="" class="bubble-text-item empty-bubble" />
                        <div data-html2canvas-ignore="true" class="bubble-text-content start" data-bubbletextindex="0">...Sveiki!</div>
                        <div data-html2canvas-ignore="true" class="bubble-text-content dekoracijas" data-bubbletextindex="1">...Dekorācijas</div>
                        <div data-html2canvas-ignore="true" class="bubble-text-content grims" data-bubbletextindex="2">...Grims</div>
                        <div data-html2canvas-ignore="true" class="bubble-text-content po" data-bubbletextindex="3">...Pasākumu Organizēšana</div>
                        <div data-html2canvas-ignore="true" class="bubble-text-content ktuai" data-bubbletextindex="4">...Karnevālu tērpu <br /><span class="un-span">un</span> <br /><span class="ai-span">aksesuāru īre</span> </div>
                        <div data-html2canvas-ignore="true" class="bubble-text-content idejas" data-bubbletextindex="5">...Idejas</div>
                        <div data-html2canvas-ignore="true" class="bubble-text-content parmani" data-bubbletextindex="6">...Par Mani</div>
                    </div>
                </div>

                <!-- #endregion -->
                <!-- #region Door Knob-->

                <img id="doorknob" alt="" src="~/Content/images/doors/doorknob/Door_Knob_002_001.png" />

                <!-- #endregion -->
                <!-- #region Rabbit -->

                <div id="door-rabbit">
                    <div class="rabbit-head">
                        <img src="~/Content/images/doors/leftbottomrabbit/Rabbit_Ears_002_Head_001.png" alt="Alternate Text" />
                    </div>
                    <div class="lear-container">
                        <img src="~/Content/images/doors/leftbottomrabbit/Rabbit_Ears_002_LEar_001.png" alt="Alternate Text" />
                    </div>
                    <div class="rear-container">
                        <img src="~/Content/images/doors/leftbottomrabbit/Rabbit_Ears_002_REar_001.png" alt="Alternate Text" />
                    </div>
                </div>

                <!-- #endregion -->
                <!-- #region Bottom Left Cup -->

                <div id="doorbottomleftcup-wrap">
                    <div class="bottomleftcup-container">
                        <div class="plate-back">
                            <img src="~/Content/images/doors/bottomcup/Cup_Back_001.png" alt="" width="107" />
                        </div>
                        <div class="cup-body">
                            <img src="~/Content/images/doors/bottomcup/Cup_Body_001.png" alt="" width="80" />
                        </div>
                        <div class="plate-front">
                            <img src="~/Content/images/doors/bottomcup/Cup_Front_001.png" alt="" width="105" />
                        </div>
                    </div>
                </div>

                <!-- #endregion -->

            </div>
        </div>

        <div id="molbert-wrap">
            <div class="molbert-container">
                <img src="~/Content/images/molbert/Molbert_001_006.png" alt="" class="molbert-image" />

                <!-- #region Molbert Rabbit -->
                <div id="molbert-rabbit-wrap">
                    <div class="molbert-rabbit-container">
                        <div class="rabbit-cup-back">
                            <img src="~/Content/images/molbert/rabbit/Rabbit_Cup_Back_001.png" alt="" width="87" />
                        </div>
                        <div class="rabbit-body">
                            <img src="~/Content/images/molbert/rabbit/Rabbit_Body_001.png" alt="" width="60" />
                        </div>
                        <div class="rabbit-cup-front">
                            <img src="~/Content/images/molbert/rabbit/Rabbit_Cup_Front_001.png" alt="" width="105" />
                        </div>
                    </div>
                </div>
                <!-- #endregion -->
            </div>
        </div>

        <div id="contact-page-wrap" data-html2canvas-ignore="true">
            <div class="contact-page-container">
                <div class="background">
                    <img src="~/Content/images/molbert/contactpage/Contact_Background_002.png" alt="" />
                </div>
                <div class="logo-container">
                    <img src="~/Content/images/molbert/contactpage/Logo_001.png" alt="" />
                </div>
                <div class="content-container">
                    <img class="close-button-contacts" src="~/Content/images/molbert/contactpage/contacticons/Location_001.png" alt="" />
                    <div class="about-me-container">
                        <h1 class="title">
                            Par Mani
                        </h1>
                        <p class="visible-part">
                            „...kādā no Mellužu pagalmiem, kas ievīts ziedošām, krāsainām puķu dobēm, rožu krūmiem un augļu kokiem ...Mazā gaviļniece priekā starodama  iesēdusies dārza malā novietotajā  pludmales strīpota auduma krēslā un mēģina aizmigt...
                        </p>
                    </div>
                    <div class="phone-number-container">
                        <img src="~/Content/images/molbert/contactpage/contacticons/Phone_001.png" alt="" class="a-contact-icon phone-icon" />
                        <div class="a-contact-section-title">+371 2620 6362</div>
                    </div>
                    <div class="email-container">
                        <img src="~/Content/images/molbert/contactpage/contacticons/Email_001.png" alt="" class="a-contact-icon email-icon" />
                        <div class="a-contact-section-title">info@alisebrinumzeme.lv</div>
                    </div>
                    <div class="find-us-container">
                        <img src="~/Content/images/molbert/contactpage/contacticons/Location_Empty_001.png" alt="" class="a-contact-icon location-icon" />
                        <img src="~/Content/images/molbert/contactpage/contacticons/Location_Cursor_001.png" alt="" class="a-contact-icon cursor-icon" />
                        <div class="a-contact-section-title location-title">Pulka iela 3, Rīga, LV-1007, Latvija</div>
                    </div>
                    <div class="map-container">
                        <img src="~/Content/images/molbert/contactpage/contacticons/Map_003.png" alt="" />
                        <img id="canvas-maps" src="~/Content/images/molbert/contactpage/contacticons/Map_004.png" />
                    </div>
                </div>
            </div>
        </div>
    </div>



    <div id="table-wrap">
        <div class="table-container">
            <div class="background"><img src="~/Content/images/table/background/Table_003.png" alt="" width="399" height="267" /></div>
            <div class="table-top-container">
                <img src="~/Content/images/table/cups/element2.png" alt="" class="cup-005 table-top-cup" />
                <div class="cup-008 table-top-cup">
                    <div class="cup-body">
                        <img src="~/Content/images/table/cups/movingcup/Moving_Cup_Body_001.png" alt="" width="58" />
                    </div>
                    <div class="cup-front">
                        <img src="~/Content/images/table/cups/movingcup/Moving_Cup_Front_001.png" alt="" width="93" />

                    </div>
                    <div class="cup-back">
                        <img src="~/Content/images/table/cups/movingcup/Moving_Cup_Back_001.png" alt="" width="100" />

                    </div>
                </div>
                <img src="~/Content/images/table/cups/Cup_009.png" alt="" class="cup-009 table-top-cup" width="90" />
                <img src="~/Content/images/table/bird/Bird_003.png" alt="" class="bird-003 table-top-cup" width="90" />

                <div class="animation-hitbox table-bottom-rabbit" data-animationhitbox="rabbitncup"></div>
            </div>
            <div class="table-bottom-container">
                <div class="pile-of-cups">
                    <img src="~/Content/images/table/cups/element6.png" alt="" class="cup-in-pile cup-001" />
                    <img src="~/Content/images/table/cups/element5.png" alt="" class="cup-in-pile cup-002" />
                    <img src="~/Content/images/table/cups/element3.png" alt="" class="cup-in-pile cup-003" />
                    <img src="~/Content/images/table/cups/element4.png" alt="" class="cup-in-pile cup-004" />
                    <img src="~/Content/images/table/cups/element1.png" alt="" class="cup-in-pile cup-006" />
                </div>
                <div id="table-rabbit-wrap">
                    <div class="rabbit-head">
                        <img src="~/Content/images/table/rabbit/Rabbits_Ears_001_Head_001.png" alt="" width="115" />
                    </div>
                    <div class="lear-container">
                        <img src="~/Content/images/table/rabbit/Rabbits_Ears_001_LEar_001.png" alt="" width="50" />
                    </div>
                    <div class="rear-container">
                        <img src="~/Content/images/table/rabbit/Rabbits_Ears_001_REar_001.png" alt="" width="46" />

                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="overlaping-blur">
        <div class="overlap-taint"></div>
        <div id="canvas-container"></div>
    </div>

    <div id="section-wrap" data-html2canvas-ignore="true">
        <div class="section-container">
            <img src="~/Content/images/section/Section_Background.png" alt="" class="section-background-image" width="528" height="700" />
            <div class="section-content-wrap">
                <div class="section-content-container">
                    <div class="info-book-wrap">
                        <div class="info-book-container"><img src="~/Content/images/section/Info_Book_002.png" alt="" class="info-book-image" width="60" /></div>
                    </div>
                    <img class="close-button" src="~/Content/images/molbert/contactpage/contacticons/Location_001.png" alt="" />
                    <div class="section-description-wrap">
                        <div class="section-description-container">
                            <h1 class="description-title">Grims</h1>
                            <p class="description-content">Svaigs, gaisīgs, spilgts, teatrāls...jāveido tā, lai justos skaisti, lai būtu atbilstošs vietai un notikumam!</p>
                        </div>
                    </div>
                    <div class="main-scene-wrap">
                        <div class="main-scene-toolbar">
                            <div class="main-scene-toolbar-container">
                                <div class="info-toggle">Info</div>
                                <div class="social-nets">
                                    <div class="facebook-container">
                                        <img src="~/Content/images/section/social/facebook.png" alt="" />
                                    </div>
                                    <div class="twitter-container">
                                        <img src="~/Content/images/section/social/Twitter_alt.png" alt="" />
                                    </div>
                                </div>
                            </div>
                        </div>
                        <img src="~/Content/images/section/left_arrow_002.png" alt="" class="arrow left " />
                        <img src="~/Content/images/section/right_arrow_002.png" alt="" class="arrow right " />
                        <div class="main-scene-container">
                            <img src="~/Content/images/uploads/Image 0001.jpg" alt="" class="main-scene-image-container vpos-image" height="260" width="173" />
                            <img src="~/Content/images/uploads/Image 0002.jpg" alt="" class="main-scene-image-container hpos-image" height="231" width="358" />
                            <img src="~/Content/images/uploads/Image 0003.jpg" alt="" class="main-scene-image-container hpos-image" height="231" width="358" />
                            <img src="~/Content/images/uploads/Image 0004.jpg" alt="" class="main-scene-image-container vpos-image" height="260" width="173" />
                            <img src="~/Content/images/uploads/Image 0005.jpg" alt="" class="main-scene-image-container hpos-image" height="231" width="358" />
                            <img src="~/Content/images/uploads/Image 0006.jpg" alt="" class="main-scene-image-container vpos-image" height="260" width="173" />
                        </div>
                    </div>
                    <div class="thumbnail-scene-wrap">
                        <img src="~/Content/images/section/left_arrow_thumb_002.png" alt="" class="arrow left thumbs-left-click" />
                        <img src="~/Content/images/section/right_arrow_thumb_002.png" alt="" class="arrow right thumbs-right-click" />
                        <div class="thumbnail-scene-container">
                            <div class="thumbnail-top-row">
                                <div class="thumbnail-image-container"><div class="hitbox"></div><div class="image-seperate-container"><img src="~/Content/images/uploads/t/image_thumb_001.png" alt="" class="thumbnail-image" width="111" height="89" data-mainsceneimageindex="1" /></div></div>
                                <div class="thumbnail-image-container"><div class="hitbox"></div><div class="image-seperate-container"><img src="~/Content/images/uploads/t/image_thumb_002.png" alt="" class="thumbnail-image" width="111" height="89" data-mainsceneimageindex="6" /></div></div>
                                <div class="thumbnail-image-container"><div class="hitbox"></div><div class="image-seperate-container"><img src="~/Content/images/uploads/t/image_thumb_003.png" alt="" class="thumbnail-image" width="111" height="89" data-mainsceneimageindex="5" /></div></div>
                            </div>
                            <div class="thumbnail-bottom-row">
                                <div class="thumbnail-image-container"><div class="hitbox"></div><div class="image-seperate-container"><img src="~/Content/images/uploads/t/image_thumb_004.png" alt="" class="thumbnail-image" width="111" height="89" data-mainsceneimageindex="4" /></div></div>
                                <div class="thumbnail-image-container"><div class="hitbox"></div><div class="image-seperate-container"><img src="~/Content/images/uploads/t/image_thumb_005.png" alt="" class="thumbnail-image" width="111" height="89" data-mainsceneimageindex="3" /></div></div>
                                <div class="thumbnail-image-container"><div class="hitbox"></div><div class="image-seperate-container"><img src="~/Content/images/uploads/t/image_thumb_006.png" alt="" class="thumbnail-image" width="111" height="89" data-mainsceneimageindex="2" /></div></div>
                            </div>
                        </div>
                    </div>
                    <div class="picture-info">
                        <table>
                            <tbody>
                                <tr>
                                    <td>Stils</td>
                                    <td>Dace Sīmane</td>
                                </tr>
                                <tr>
                                    <td>Grims</td>
                                    <td>Edgars Šturms</td>
                                </tr>
                                <tr>
                                    <td>Matu Sakārtojums</td>
                                    <td>Silvestrs Kante</td>
                                </tr>
                                <tr>
                                    <td>Foto</td>
                                    <td>Niks Piliens</td>
                                </tr>
                                <tr>
                                    <td>Norises vieta</td>
                                    <td>SDK "Evita"</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>


</div>

